@"
**/bin/
**/obj/
**/node_modules/
**/dist/
**/.idea/
**/.vs/
**/.vscode/
**/*.user
**/*.suo
"@ | Set-Content .gitignore

nginx/certs/*
!nginx/certs/.gitkeep
CosmeticEnterprise.code-workspace

.env.backend
.env.db
.env.minio