:root {
  font-family:
    system-ui,
    "Segoe UI",
    Roboto,
    sans-serif;
  color-scheme: light;
  background: #f3f4f6;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

body {
  margin: 0;
  background: #f3f4f6;
}